{% extends 'aux/base.html' %}
{%load static%}

<!-- TITLE-->
{% block title %}
<title>Little Crow - Home</title>
{% endblock title %}


<!-- CONTENT-->
{% block content %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
    </ul>

</nav>
<div class="card text-center" style="width: 100%;">
    <div class="card-body">
        <h4 class="card-title">Plotter</h4>
        <h6 class="card-subtitle mb-2 text-muted">Give a function for the graph :</h6>
        <hr class="sidebar-divider d-none d-md-block">
        <div id="calculator" style="width: 100%; height: 800px;"></div>
    </div>
</div>

<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    let words = ['ln', 'sin', 'log', 'cos', 'exp', 'tan', 'cosh', 'sinh', 'tanh', 'sec', 'csc'];
    {% if equation %}
        var pattern = "{{equation}}";
        words.forEach( word => {
            var ans = pattern.indexOf(word);

            if (ans != -1){
                pattern = pattern.substring(0, ans) + '\\' + pattern.substring(ans);
                console.log(pattern, word, ans);
            }
        });
    {% else %}
        var pattern = "y=x^2";
    {% endif %}
    calculator.setExpression({ id: 'graph1', latex: pattern });
</script>


{% endblock content %}