{% extends 'aux/base.html' %}
{%load static%}

{% block title %}
    <title>Little Crow - Lagrange</title>
{% endblock title %}

{% block content %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <h2>Lagrange</h2>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
    </ul>
</nav>
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
            
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Input</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    
                    <!-- AQUI VA TODO EL CONTENT INPUT-->
                    <div class="h5 mb-0 font-weight-bold text-gray-800">                     
                        <form action="lagrange" method="POST" onsubmit="">
                            {% csrf_token %}
                            <p style="text-align:center;">Size</p><hr class="sidebar-divider">
                            <div class="container text-center">
                                <div class="row justify-content-center">
                                    
                                    <div class="col-5">
                                        <a id="sizeMinus" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-5">
                                                -
                                            </span>
                                        </a>
                                    </div>
                                    
                                    <div class="col-0">
                                        <label id="size">
                                            {% if size %}
                                                {{size}}
                                            {% else %}
                                                4
                                            {% endif %}
                                        </label>
                                    </div>

                                    <div class="col-5">
                                        <a id="sizePlus" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-5">
                                                +
                                            </span>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                            <br>

                            <div id="resultado"></div>
                            

                            <div class="container text-center">
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <a class="btn btn-primary btn-icon-split">
                                            <input style="color:white;" class="icon text-white-5" type="submit" value="Submit">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>



    <!-- RESULT CARD -->
    {% if state == 1%}
        
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Results</h6>
            </div>
            <!-- Card Body -->
            

            <div class="card-body">
                <p style="text-align:center">Lagrange's polynoms</p>
                
                    <div style="text-align:center;">
                        <p>
                        \(\begin{bmatrix}
                            {% for i in lPolynoms %}
                                L {{ forloop.counter0 }}(x) = {{i}}
                                {% if not forloop.last %}
                                \\\
                                {% endif %}
                            {% endfor %}
                        \end{bmatrix}\)
                        </p>
                    </div>
                    <div>
                        <p style="text-align:center; font-size:big;"> Lagrange's Polynom \(p(x) = {{polynom}}\) </p>
                    </div>
                    <div class="card text-center" style="width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Plotter</h4>
                            <div id="calculator" style="width: 100%; height: 800px;"></div>
                        </div>
                    </div>
                    
                    <script>
                        var elt = document.getElementById('calculator');
                        var calculator = Desmos.GraphingCalculator(elt);
                        calculator.setExpression({ id: 'graph1', latex: "{{fullPolynom}}" });
                    </script>
                
            </div>
        </div>
    </div>
    {% endif %}
    
                    
    <!-- Handle matrix -->
    <script type="text/javascript">
        let size = 4;
        {% if size %}
        size = {{size}};
        {% endif %}
        const program = () => {
            var tabla="<table class=\"table table-bordered table-secondary\">";
            var xvalues = [-1, 0, 3, 4];
            var yvalues = [15.5, 3, 8, 1];

            {% if X %}
            xvalues = []
            yvalues = []
            {% for p in X %}
                xvalues.push({{p}});
            {% endfor %}
            {% for p in Y %}
                yvalues.push({{p}});
            {% endfor %}
            {% endif %}
            tabla += "<tr><td> X </td><td> Y </td></tr>"
            for(j = 0; j < size; j++){
                tabla += "<tr>";
                tabla += "<td><input value="+xvalues[j]+" style= \"background: transparent;border: none; width: 100%; outline: none;\" type=\"number\" step=\"1e-8\" name=\"X"+j+"\"> </td>";
                tabla += "<td><input value="+yvalues[j]+" style= \"background: transparent;border: none; width: 100%; outline: none;\" type=\"number\" step=\"1e-8\" name=\"Y"+j+"\"> </td>";
                tabla += "</tr>";
            }

            tabla+="</table>";
            document.getElementById("resultado").innerHTML=tabla;
        }
        window.onload = program

        document.getElementById("sizePlus").addEventListener("click", (e) => {
            size++;
            document.getElementById("size").innerHTML = size;
            program();
        });

        document.getElementById("sizeMinus").addEventListener("click", (e) => {
            if (size != 0) size--;
            document.getElementById("size").innerHTML = size;
            program();
        });
    </script>
{% endblock content %}
{% block help %}
    <li>Remind that the method does not allow two values for the same 'x' (no repeated points)</li>
    <li>If you need to use a large amount of points, perhaps it would be better to use any spline instead</li>
{% endblock help %}