{% extends 'aux/base.html' %}
{%load static%}

{% block title %}
<title>Little Crow - Secant</title>
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <h2>Secant</h2>
    <ul class="navbar-nav ml-auto">
        
    </ul>
</nav>

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <!-- INPUT CARD -->
        <div class="col-xl-12 col-lg-5">
            
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Input</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- AQUI VA TODO EL CONTENT INPUT-->                   
                    <form action="secant" method="POST" onsubmit="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="equation" class="form-label">Function:</label>
                            <input type="text" class="form-control" id="equation" placeholder="Put the function here..." name="equation">
                        </div>
                        <div class="mb-3">
                            <label for="x0" class="form-label">First initial value (x0):</label>
                            <input type="number" class="form-control" id="x0" placeholder="Insert a value" name="x0">
                        </div>
                        <div class="mb-3">
                            <label for="x1" class="form-label">Second initial value (x1):</label>
                            <input type="number" step="1e-8" class="form-control" id="x1" placeholder="Insert a value" name="x1">
                        </div>
                        <div class="mb-3">
                            <label for="tolerance" class="form-label">Tolarence:</label>
                            <input type="number" step="1e-8" class="form-control" id="tolerance" placeholder="Insert a tolerance" name="tolerance">
                        </div>
                        <div class="mb-3">
                            <label for="iterations" class="form-label">Iterations:</label>
                            <input type="number" class="form-control" id="iterations" placeholder="Insert a value" name="iterations">
                        </div>
                    </form>
                    <!-- AQUI TERMINA TODO EL CONTENT INPUT-->
                </div>
            </div>
        </div>
    </div>



    <!-- RESULT CARD -->
    {% if state == 1%}
    <div class="col-xl-12 col-lg-7">
        
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Results</h6>
            </div>
            <!-- Card Body -->
            

            <div class="card-body">
                <p style="text-align:center">MATRIX</p>
                <div style="text-align:center;">
                    <p>
                    \(\begin{bmatrix}
                        {% for i in matrix %}
                            {% for j in i %}
                                {% if j < 1e5 and j > 0.001 %}                                              
                                    {{j|floatformat:"-4" }}
                                {% elif  j > -1e5 and j < -0.001%}
                                    {{j|floatformat:"-4" }}
                                {% elif  j == 0 %}
                                    {{j|floatformat:"-4" }}
                                {% else %}
                                    {{ j|stringformat:".4e" }}
                                {% endif %}

                                {% if not forloop.last %}
                                    &
                                {% endif %}
                            {% endfor %}

                            {% if not forloop.last %}
                                \\\
                            {% endif %}
                        {% endfor %}
                    \end{bmatrix}\)
                    </p>
                </div>
                <div>
                    <p style="text-align:center; font-size:big;"> Vandermonde's Polynom \(p(x) = {{f}}\) </p>
                </div>                                    
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}